/* General styling */
body, html{
    background-color: white;
    color: #575757;
    font-family: "Source Sans Pro", sans-serif;
    font-size: normal;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar on smaller screens */
}

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-size: 30px;
}

h5 {
    font-size: 34px;
    margin: 0px;
    margin-bottom: 15px;
}

p {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.page-content {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.subtitle {
    letter-spacing: 2px;
    max-width: 100%;
    font-size: 175%;
    margin-top: 65px;
    margin-bottom: 20px !important;
}

/* Navigation bar */
#navbar {
    left: 0%;
    right: 0%;
    background-color: white;
    top: -70px;
    display: block;
    transition: top 0.4s;
    position: fixed;
    box-shadow: 2px 2px 5px #aaa;
    z-index: 10000;
}

.navbar-item:first-child {
    font-weight: 500;
    float: left;
}

.navbar-item {
    color: #2a2d34;
    float: right;
    text-align: center;
    display: block;
    padding: 22px;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

.navbar-item:hover {
    transition: 0.5s;
    color: #2a2d34;
}

.navbar-item:hover:after {
    transform: scaleX(1);
}

.navbar-item::after {
    display:block;
    content: "";
    transform: scaleX(0);
    border-bottom: solid 3px #626164;
    transform-origin: 0% 50%;
    transition: 350ms ease-in-out;
}

.resumeSpacing {
    padding-right: 30px;
}

/* Home Page */
#home-section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.title {
    max-width: 100%;
    font-size: 350%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: "Source Sans Pro", sans-serif;
    padding: 0 80px 0 80px;
}

.home-image-container {
    height: 650px;
    width: 650px;
	border-radius: 4px;
	border-top: 20px solid #e5e5e5;
	box-shadow: -12px 12px 1px #bfbfc2;
	overflow-y:hidden;
	margin: 40px;
	margin-top: 20px;
    margin-left: 0px;
    position: relative;
}

.home-image {
    position: absolute;
    height: 100%;
    width: 100%;
}

#landing-container {
    padding-right: 4%;
}

#landing-text {
    max-width: 100%;
    text-align: center;
}

#app {
    font-size: 150%;
}

#arrow {
    border: solid black;
    border-color: #575757;
    border-width: 0 3px 3px 0;
    padding: 10px;
    display: inline-block;
    transition: 0.3s;
    animation: bounce 3s infinite;
    margin: 20px;
    margin-top: 40px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#arrow:hover {
    -webkit-animation-play-state: paused;
    opacity: 60%;
    transform: scale(1.25) rotate(45deg);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    40% {
        transform: translateY(-30px) rotate(45deg);
    }
    60% {
        transform: translateY(-15px) rotate(45deg);
    }
}

/* About section */
#about-section {
    padding: 50px;
    padding-top: 10px;
    background-color: #F0F0F0;
    min-height: 100vh;
}

#about-desc-and-image {
    padding: 50px;
    padding-top: 0px;
    background-color: #F0F0F0;
    min-height: 40vh;
}

#about-desc {
    margin-right: 10px;
    margin-left: 0px;
    padding: 30px;
    padding-top: 0px;
    margin-top: 50px;
    overflow-y: hidden;
    line-height: 22px;
    height: 500px;
    min-height: 500px;
    min-width: 500px;
    width: calc(100% - 1189px); /* Adjust width */
    font-size: 21px;
    line-height: 2em;
}

.break-margin {
    display: block;
    margin-bottom: 15px;
}

.about-image-container {
	position: relative;
    height: 450px;
    width: 450px;
	margin: 1%;
    margin-right: 30px;
	display: none;
    margin-top: -22px;
}

.about-image-container:hover .proj-description{
    visibility: visible;
	opacity: 0.9;
}

#about-img {
	height: 100%;
    width: 100%;
	border-radius: 4px;
	border-top: 20px solid #e5e5e5;
	box-shadow: 12px 12px 1px #bfbfc2;
	overflow-y:hidden;
	margin: 40px;
	margin-top: -20px;
    margin-left: 0px;
}

.img-description p2 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 29px;
    padding-bottom: 5px;
    display: block;
}

/* Education Section */
#education-section {
    padding: 50px;
    padding-bottom: 80px;
    min-height: 100vh;
    background-color: #474d5a;
}

#education-section * {
    color:white;
}

#education-college-container img {
    width: 136px;
    margin-top: 6px;
}

#school {
    align-items: flex-start;
}

#school p {
    font-size: 14px;
}

#school * {
    margin: 8px;
}

#coursework {
    align-items: flex-start;
    font-size: 120%;
}

li {
    margin: 5px;
}

#coursework ul{
    list-style-type: circle;
    margin-top: 0px;
}

#coursework p{
    margin-top: 0px;
}

#progress {
    font-size: 80%;
}

/* Project Section */
#project-section {
	margin: 50px;
    padding-top: 40px;
}

.each-project {
	position: relative;
	height: 410px;
	width: 410px;
	margin: 1.2%;
	display: none;
}

.each-project:hover .proj-description{
	visibility: visible;
	opacity: 0.9;
}

.show {
	display: block;
}

.proj-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.proj-description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F8F8F8;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .4s, visibility .4s;
    z-index: 100;
}

.proj-description:hover {
	opacity: 1;
}

.img-description i, .img-description p, .img-description a {
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	font-weight: 100;
	line-height: 24px;
}

.img-description {
    transition: .5s;
	color: #575757;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.img-description i {
	font-size: 19px;
}

.img-description p {
	font-size: 17px;
}

.img-description:hover {
	opacity: 1;
}

/* Footer Section */
#footer-section {
    height: 6em;
    text-align: center;
    background-color: #F0F0F0;
}

#social-container * {
    padding:6px;
    margin-bottom: 6px;
}

#social-container a {
    color: #575757;
    transition: .4s;

}

#social-container a:hover {
    color: #8d8d8d;
}

#copyright {
    color: #8d8d8d;
    font-size:14px;
}

/* Fade in transition */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

a {
    text-decoration: none;
	color: #575757;
	transition: 0.3s;
}

a:hover {
	color: #8d8d8d;
}

/* Different styles for different screen sizes */
@media only screen and (max-width: 1340px) {
    .home-image-container {
        height: 500px;
        width: 500px;
    }
  }
  
@media only screen and (max-width: 1154px) {
    #landing-container {
        padding-right: 0%;
        padding-left: 2%;
    }

    #home-section {
        width: 100%;
    }

    .about-image-container {
        margin: 0%;
        margin-right: 10px;
    }

    #arrow {
        margin-top: 100px
    }

    #app {
        margin-bottom: 5%;
    }

    #about-desc {
        margin-right: 0px;
        padding-left: 40px;
    }
}

@media only screen and (max-width: 1189px) {
    .home-image-container {
        margin: 0px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 680px){
    #navbar {
        display: none;
    }

    #about-desc {
        white-space: normal;
        font-size: 17px;
        min-width: 289px;
    }

    .about-image-container {
        width: 320px;
        height: 320px;
    }

    .each-project {
        width: 320px;
        height: 320px;
    }

    .home-image-container {
        height: 320px;
        width: 320px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .title {
        font-size: 170%;
    }

    #app {
        margin-bottom: 70px;
        display:inline-block;
        font-size: 100%;
    }

    #arrow {
        margin-top: 23px;
    }

    #landing-container {
        margin-top: 39px;
    }

    #project-section {
        margin: 0px;
        padding-top: 0px;
    }

    #education-section {
        padding-top: 0px;
    }

}

@media only screen and (max-height: 900px){
    #navbar {
        display: none;
    }

    #about-desc {
        white-space: normal;
        font-size: 17px;
        min-width: 289px;
    }

    .about-image-container {
        width: 320px;
        height: 320px;
    }

    .each-project {
        width: 320px;
        height: 320px;
    }

    .home-image-container {
        height: 250px;
        width: 250px;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .title {
        font-size: 170%;
    }

    #app {
        margin-bottom: 70px;
        display:inline-block;
        font-size: 100%;
    }

    #arrow {
        margin-top: 23px;
        padding: 8px;
    }

    #landing-container {
        margin-top: 39px;
    }

    #project-section {
        margin: 0px;
        padding-top: 0px;
    }

    #education-section {
        padding-top: 0px;
    }

}

@media only screen and (max-height: 300px){
    .home-image-container {
        height: 220px;
        width: 220px;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    #arrow {
        margin-top: 0px;
        margin-bottom: 51px;
        padding: 8px;
    }
}