body, html{
    background-color: white;
    color: #575757; /* Experiment between a black and light grey color */
    font-family: "Source Sans Pro", sans-serif;
    font-size: normal;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-size: 30px;
}

p {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Navigation bar */
#navbar {
    left: 0%;
    right: 0%;
    background-color: white;
    top: -70px; /*-70px before*/
    display: block;
    transition: top 0.4s;
    position: fixed;
    box-shadow: 2px 2px 5px #aaa;
    z-index: 1;
}

.navbar-item:first-child {
    font-weight: 500;
    float: left;
}

.navbar-item {
    color: #2a2d34;
    float: right;
    text-align: center;
    display: block;
    padding: 22px;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

.navbar-item:hover {
    transition: 0.5s;
    color: #2a2d34;
}

.navbar-item:hover:after {
    transform: scaleX(1);
}

.navbar-item::after {
    display:block;
    content: "";
    transform: scaleX(0);
    border-bottom: solid 3px #626164; /* Change color later? Change the start of the line by putting it in the middle and then it goes outwards to its borders?*/
    transform-origin: 0% 50%; /* Set 0 to 50 to start transition at mid */
    transition: 350ms ease-in-out;
}

/* Home Page */
#home-section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.title {
    max-width: 100%;
    font-size: 350%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: "Source Sans Pro", sans-serif;
    padding: 0 80px 0 80px;
}

.subtitle {
    letter-spacing: 2px;
    max-width: 100%;
    font-size: 175%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.page-content {
    width: 100%;
}

#landing-container {
    padding-right: 4%;
    padding-left: 4%;

    /* position: fixed; */
}

#landing-text {
    max-width: 100%;
    text-align: center;
}

#app {
    font-size: 150%;
}

#profile-icon {
    width: 500px;
}

#arrow {
    border: solid black;
    border-color: #575757;
    border-width: 0 3px 3px 0;
    padding: 10px;
    display: inline-block;
    transition: 0.3s;
    animation: bounce 3s infinite;
    margin: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#arrow:hover {
    -webkit-animation-play-state: paused;
    opacity: 60%;
    transform: scale(1.25) rotate(45deg);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    40% {
        transform: translateY(-30px) rotate(45deg);
    }
    60% {
        transform: translateY(-15px) rotate(45deg);
    }
}


/* About section */
#about-section {
    padding: 50px;
    background-color: #F0F0F0;
    min-height: 100vh;
}

/* Education Section */
#education-section {
    padding: 50px;
    padding-bottom: 80px;
    min-height: 100vh;
    background-color: #474d5a;
}

#text .subtitle {
    margin-bottom: 40px;
}

#education-section * {
    color:white;
}

#education-title img {
    width: 115px; /*think between width 115px and 120px;*/
    margin-top: 6px;
}

#school {
    align-items: flex-start;
}

#school p {
    font-size: 14px;
}

#school * {
    margin: 8px;
}

#coursework {
    align-items: flex-start;
    font-size: 120%;
}

li {
    margin: 5px;
}

ul {
    list-style-type: circle;
}

#progress {
    font-size: 80%;
}

/* Project Section */
#project-section {
    padding: 50px;
    /* background-color: #F0F0F0; */
    min-height: 100vh;
}

/* Publication Section */
#publication-section {
    padding: 50px;
    padding-bottom: 80px;
    min-height: 100vh;
    background-color: #474d5a;
}

/* Award Section */
#award-section {
    padding: 50px;
    background-color: #F0F0F0;
    min-height: 100vh;
}

/* Footer Section */
#footer-section {
    height: 6em;
    text-align: center;
    background-color: #474d5a;
}

/* Fade in transition */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}